<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <ul class="nav navbar-nav navbar-brand navbar-left">
                <li>
                    <img src="/static/img/comcast_logo.jpg" width="40" height="25" />
                    <span>
                    <small>
                        VEX Dashboard
                    </small>
                    </span>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id='env_setting'>
                    <a href="{% url 'env_setting' %}">
                        <span class="glyphicon glyphicon-cloud">
                            Environment
                        </span>
                    </a>
                </li>
                <li id='benchmark_operation'>
                    <a href="{% url 'benchmark_operation' %}">
                        <span class="glyphicon glyphicon-briefcase">
                            Operation
                        </span>
                    </a>
                </li>
                <li class="dropdown" id='benchmark_result'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-stats">
                            Result
                        </span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'benchmark_result' 'VOD_T6' %}">
                                <span class="text-muted text-center">
                                    T6VOD
                                </span>
                            </a>
                        </li>
                        <li role="separator" class="divider">
                        </li>
                        <li>
                            <a href="{% url 'benchmark_result' 'LINEAR_T6'%}">
                                <span class="text-muted text-center">
                                    T6Linear
                                </span>
                            </a>
                        </li>
                        <li role="separator" class="divider">
                        </li>
                        <li>
                            <a href="{% url 'benchmark_result' 'CDVR_T6'%}">
                                <span class="text-muted text-center">
                                    T6cDVR
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% if user.is_staff %}
                <li id='global_settings'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench">
                            Settings
                        </span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'global_settings' %}">
                                <span class="text-muted text-center">
                                    Global Settings
                                </span>
                            </a>
                        </li>
                        <li role="separator" class="divider">
                        </li>
                        <li>
                            <a href="{% url 'kubernetes_settings'%}">
                                <span class="text-muted text-center">
                                    Kubernetes Settings
                                </span>
                            </a>
                        </li>
                        <li role="separator" class="divider">
                        </li>
                        <li>
                            <a href="{% url 'homepage'%}">
                                <span class="text-muted text-center">
                                    VEX Simulators
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" >
                       	{{ username }}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{% url 'set_password' %}">
                            	<span class="glyphicon glyphicon-edit text-left">
                                    Change Password
                                </span>
                            </a>
                        </li>
                        <li role="separator" class="divider">
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-log-out" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"> Login</span></a>
                </li>
                <li>
                    <a href="{% url 'register' %}"><span class="glyphicon glyphicon-plus-sign"> Signup</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>