<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav navbar-brand navbar-left">
			    <li>
		            <img src="/static/img/comcast_logo.jpg" width="40" height="25"></img>VEX Benchmark Test Portal
		        </li>
		    </ul>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!--<li class="active1"><a href="{% url 'home' %}">&nbsp&nbsp<span class="glyphicon glyphicon-home">Home</span>&nbsp&nbsp</a></li>-->
				<li><a href="{% url 'basic-op-home' %}">&nbsp&nbsp<span class="glyphicon glyphicon-cloud">Environment&nbsp&nbsp</span></a></li>
				<li><a href="{% url 'perf-op-home' %}">&nbsp&nbsp<span class="glyphicon glyphicon-briefcase">Operation&nbsp&nbsp</span></a></li>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp&nbsp<span class="glyphicon glyphicon-stats">Result</span><span class="caret"></span>&nbsp&nbsp</a>
		          <ul class="dropdown-menu">
		            <li><a href="{% url 'perf_result' 'VOD_T6' %}"><span class="text-muted text-center">&nbsp&nbspT6VOD</span></a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="{% url 'perf_result' 'LINEAR_T6'%}"><span class="text-muted text-center">&nbsp&nbspT6Linear</span></a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="{% url 'perf_result' 'CDVR_T6'%}"><span class="text-muted text-center">&nbsp&nbspT6cDVR</span></a></li>
		          </ul>
		        </li>
			</ul>
		</div>
	</div>
</div>