{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Golbal Settings{% endblock %}

{% block header %}
<script>

var tmp_grafana_http_address = "";
var tmp_prometheus_http_address = "";
var tmp_use_default_version = "";

$(function() {
	{% if form.errors %}
		$("#id_grafana_http_address").attr("disabled",false);
		$("#id_prometheus_http_address").attr("disabled",false);
		$("#id_use_default_version").attr("disabled",false);
	
		$("#edit_button").hide();
		$("#save_button").show();
		$("#cancel_button").show();
		
		tmp_grafana_http_address = "{{ form.grafana_http_address.value }}";
		tmp_prometheus_http_address = "{{ form.prometheus_http_address.value }}";
		tmp_use_default_version = "{{ form.use_default_version.value }}";
	{% endif %}
	
	{% if form.use_default_version.value %} 
		$("#id_use_default_version").attr("checked",true);
	{% endif %}
});

function edit(){
	$("#id_grafana_http_address").attr("disabled",false);
	$("#id_prometheus_http_address").attr("disabled",false);
	$("#id_use_default_version").attr("disabled",false);
	
	tmp_grafana_http_address = $("#id_grafana_http_address").val();
	tmp_prometheus_http_address = $("#id_prometheus_http_address").val();
	tmp_use_default_version = $("#id_use_default_version").val();
	
	$("#edit_button").hide();
	$("#save_button").show();
	$("#cancel_button").show();
}

function cancel(){
	$("#id_grafana_http_address").val(tmp_grafana_http_address);
	$("#id_prometheus_http_address").val(tmp_prometheus_http_address);
	
	if (tmp_use_default_version=="True"){
		$("#id_use_default_version").prop("checked", true);
	}else{
		$("#id_use_default_version").prop("checked", false);
	}
	
	$("#id_grafana_http_address").attr("disabled",true);
	$("#id_prometheus_http_address").attr("disabled",true);
	$("#id_use_default_version").attr("disabled",true);
	
	$("#edit_button").show();
	$("#save_button").hide();
	$("#cancel_button").hide();
}

</script>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Golbal Setting</h3></div>
                <div class="panel-body">
                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_grafana_http_address_label" class="col-md-3 control-label">{{ form.grafana_http_address.label }}</label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" id="id_{{ form.grafana_http_address.name }}" name="{{ form.grafana_http_address.name }}" autofocus disabled value="{{ form.grafana_http_address.value }}">
                                {% if form.errors.grafana_http_address %}
                                	<div class="has-warning"><label class="control-label" for="inputWarning">{{form.errors.grafana_http_address}}</label></div>
                                {% else %}
                                	<p class="help-block"> {{form.grafana_http_address.help_text}} </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="id_prometheus_http_address_label" class="col-md-3 control-label">{{ form.prometheus_http_address.label }}</label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" id="id_{{ form.prometheus_http_address.name }}" name="{{ form.prometheus_http_address.name }}" autofocus disabled value="{{ form.prometheus_http_address.value }}">
                                {% if form.errors.prometheus_http_address %}
                                	<div class="has-warning"><label class="control-label" for="inputWarning">{{form.errors.prometheus_http_address}}</label></div>
                                {% else %}
                                	<p class="help-block"> {{form.prometheus_http_address.help_text}} </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="id_use_default_version_label" class="col-md-3 control-label">{{ form.use_default_version.label }}</label>
                            <div class="col-md-9">
                            	<input type="checkbox" class="form-control" 
                            		id="id_{{ form.use_default_version.name }}" name="{{ form.use_default_version.name }}" 
                            		autofocus disabled >
                                {% if form.errors.use_default_version %}
                                	<div class="has-warning"><label class="control-label" for="inputWarning">{{form.errors.use_default_version}}</label></div>
                                {% else %}
                                	<p class="help-block"> {{form.use_default_version.help_text}} </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-md-5 col-md-offset-3">
                            <button type="button" id="edit_button" class="btn btn-success" value="edit" onclick="edit()">Edit</button>
                            <button type="submit" id="save_button" class="btn btn-success" value="save" style="display:none;">Save</button>
                            <button type="button" id="cancel_button" class="btn btn-success" value="cancel" style="display:none;" onclick="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}