{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Golbal Settings{% endblock %}

{% block header %}
<script>

var tmp_kubectl_ip_address = "";
var tmp_grafana_http_address = "";

$(function() {
	{% if form.errors %}
		$("#id_kubectl_ip_address").attr("disabled",false);
		$("#id_grafana_http_address").attr("disabled",false);
	
		$("#edit_button").hide();
		$("#save_button").show();
		$("#cancel_button").hide();
		
		tmp_kubectl_ip_address = "{{ form.kubectl_ip_address.value }}";
		tmp_grafana_http_address = "{{ form.grafana_http_address.value }}";
	{% endif %}
});

function edit(){
	$("#id_kubectl_ip_address").attr("disabled",false);
	$("#id_grafana_http_address").attr("disabled",false);
	
	tmp_kubectl_ip_address = $("#id_kubectl_ip_address").val();
	tmp_grafana_http_address = $("#id_grafana_http_address").val();
	
	$("#edit_button").hide();
	$("#save_button").show();
	$("#cancel_button").show();
}

function cancel(){
	$("#id_kubectl_ip_address").val(tmp_kubectl_ip_address);
	$("#id_grafana_http_address").val(tmp_grafana_http_address);
	
	$("#id_kubectl_ip_address").attr("disabled",true);
	$("#id_grafana_http_address").attr("disabled",true);
	
	$("#edit_button").show();
	$("#save_button").hide();
	$("#cancel_button").hide();
}

</script>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Golbal Setting</h3></div>
                <div class="panel-body">
                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_kubectl_ip_address_label" class="col-md-3 control-label">{{ form.kubectl_ip_address.label }}</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="id_{{ form.kubectl_ip_address.name }}" name="{{ form.kubectl_ip_address.name }}" autofocus disabled value="{{ form.kubectl_ip_address.value }}">
                                {% if form.errors.kubectl_ip_address %}
                                	<div class="has-warning"><label class="control-label" for="inputWarning"> {{form.errors.kubectl_ip_address}} </label></div>
                                {% else %}
                                	<p class="help-block"> {{form.kubectl_ip_address.help_text}} </p>
                                {% endif %}
                             </div>
                        </div>
                        <div class="form-group">
                            <label for="id_grafana_http_address_label" class="col-md-3 control-label">{{ form.grafana_http_address.label }}</label>
                            <div class="col-md-9">
                            	<input type="text" class="form-control" id="id_{{ form.grafana_http_address.name }}" name="{{ form.grafana_http_address.name }}" autofocus disabled value="{{ form.grafana_http_address.value }}">
                                {% if form.errors.grafana_http_address %}
                                	<div class="has-warning"><label class="control-label" for="inputWarning">{{form.errors.grafana_http_address}}</label></div>
                                {% else %}
                                	<p class="help-block"> {{form.grafana_http_address.help_text}} </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-3">
                            <button type="button" id="edit_button" class="btn btn-success" value="edit" onclick="edit()">Edit</button>
                            <button type="submit" id="save_button" class="btn btn-success" value="save" style="display:none;">Save</button>
                            <button type="button" id="cancel_button" class="btn btn-success" value="edit" style="display:none;" onclick="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}