{% extends "base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/vex/vex.js"></script>
    <script type="text/javascript" src="/static/vex/vex-armchart.js"></script>
    
    <script type="text/javascript" src="/static/armcharts/3.0/armcharts.js"></script>
    <script type="text/javascript" src="/static/armcharts/3.0/serial.js"></script>
    <script type="text/javascript" src="/static/armcharts/3.0/plugins/export.min.js"></script>
    <script type="text/javascript" src="/static/armcharts/3.0/themes/light.js"></script>
    <link rel="stylesheet" href="/static/armcharts/3.0/plugins/export.css" type="text/css" media="all" />
    
	<!-- <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script> -->
	<!-- <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" /> -->
	<!-- <script src="https://www.amcharts.com/lib/3/themes/light.js"></script> -->

    {% block dashboard-header %}
	{% endblock %}

{% endblock %}

{% block content %}
	<p />
    {% block dashboard-content %} <h3>This in dashboard content panel</h3> {% endblock %}
{% endblock %}