{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="panel panel-default">
            	{% if send_status %}
            	 <div class="panel-heading">
                    <h3 class="panel-title">Password reset link has sent to your email</h3>
                 </div>
                {% else %}
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3></div>
                <div class="panel-body">
                    <form method="POST" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_{{ form.email.name }}" class="col-md-3 control-label">{{ form.email.label }}</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="id_{{ form.email.name }}" required name="{{ form.email.name }}" autofocus>
                                <p class="help-block">{% if form.errors.email %} {{form.errors.email}} {% else %} {{form.email.help_text}} {% endif %}</p></div>
                        </div>
                        <div class="form-group">
                            <label for="id_{{ form.captcha.name }}" class="col-md-3 control-label">{{ form.captcha.label }}</label>
                            <div class="col-md-9">
                                {{ form.captcha }}
                                <script type="text/javascript">  
		                            $('.captcha').click(function(){ //点击图片刷新  
		                                var tmp = Math.random().toString();  
		                                $.get("?newsn=1&tmp="+tmp, function(result){
		                                    $('.captcha').attr("src", result);  
		                                    $('#id_captcha_0').attr("value", result.split('/')[3]);  
		                                });  
		                            return false;  
		                        });  
		                        </script> 
                                <p class="help-block">{% if form.errors.captcha %} {{form.errors.captcha}} {% else %} {{form.captcha.help_text}} {% endif %}</p></div>
                        </div>
                        <div class="col-md-5 col-md-offset-3">
                            <button type="submit" class="btn btn-success" value="forget_password">Submit</button></div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}